
%p#rubyocracy-introduction
  Rubyocracy is a community powered news site for Ruby developers. Think of it like a blog aggregator
  but with added bonuses like community voting and badges.
  %a{:href => "#"} Submit your blog 
  to get a chance to build your reputation as a respected ruby blogger among fellow rubyists.
  = link_to '(hide)', '#', :id => 'hide-introduction'

%ul.stories#top-stories
  - 5.times do
    = render 'mock_story'
      
#pagination
  = pending_link "&laquo; Older Posts", '#',  :class => 'older-posts'
  = pending_link "Newer Posts &raquo;", '#',  :class => 'newer-posts'