%li.story{:class => (@last_child ? "last" : nil)}
  .story-inner
    %h3
      = link_to h(favorite.title), favorite.url, :class => 'story-title'
    %br.clear
    .story-nested-details
      = link_to "Comments", [favorite.site, favorite]
      .story-meta-container
        %p.story-meta
          Favorited at
          <span class='story-posted-at'>#{favorite.created_at}</span>.
        .clearfix
  .clearfix
