%li.story{:class => (@last_child ? "last" : nil)}
  .story-inner
    %h3
      = link_to h(site.name), site.url, :class => 'story-title'
    %br.clear
    .story-nested-details
      .story-meta-container
        %p.story-meta
          Added at
          <span class='story-posted-at'>#{site.created_at}</span>.
        .clearfix
  .clearfix
