- if current_user == @user
  %h2 Comments by you
- else
  %h2 Comments by #{@user.display_name}

%ul#comment-listing
  - @comments.each do |comment|
    %li{:class => "comment"}= render :partial => 'comments/comment', :locals => {:comment => comment }

- if @comments.empty?
  %p.empty There are no comments.

#pagination= will_paginate @comments

