- if current_user.id == @user
  %h2 Your Favorites
- else
  %h2 Favorites

%h3 All Favorites
%ul.stories#top-stories= render :partial => 'favorites/favorite', :collection => @favorites
#pagination= will_paginate @favorites

