- if current_user == @user
  %h2 Your Favourites
- else
  %h2 #{@user.display_name}'s Favourites
  
%ul.stories#top-stories= render :partial => 'favorites/favorite', :collection => @favorites.map(&:favorable)
- if @favorites.empty?
  %p.empty There are no favourites.
#pagination= will_paginate @favorites

