- if current_user.id == @user
  %h2 Your Profile
- else
  %h2 Profile

#header
  %ul#header-secondary-navigation
    %li= link_to "Comments", list_comments_by_user_path(@user)
    %li= link_to "Sites", list_sites_by_user_path(@user)
    %li= link_to "Favorites", list_favorites_by_user_path(@user)

