- if current_user.id == @user
  %h2 Your Sites
- else
  %h2 Users Sites

%h5 All Sites
%ul.stories#top-stories= render :partial => 'sites/site', :collection => @sites
- if @sites.empty?
  %br
  %h4 There are no sites.
#pagination= will_paginate @sites

